<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="fileLog" value="C:\Filewatcherservice\FILE_LOG\"/>
		<add key="iphost" value="192.168.1.82"/>
		<add key="porthost" value="1234"/>
		<add key="message" value="Xin Chào lê công sang"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>